<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>

          <ExcludeByFile>
            **/Migrations/*.cs;
            **/*DbContextModelSnapshot.cs;
            **/*ApplicationDbContextFactory.cs;
            **/*Program.cs;
            **/ConsultaPlus.API/DTOs/**/*.cs;
            **/ConsultaPlus.Core/Models/**/*.cs
          </ExcludeByFile>

          <Exclude>
            [ConsultaPlus.Infrastructure]ConsultaPlus.Infrastructure.Repositories.*
            [ConsultaPlus.Infrastructure]ConsultaPlus.Infrastructure.UoW.*
            [ConsultaPlus.API]ConsultaPlus.API.Program
          </Exclude>

          <Include>
            [ConsultaPlus.API]*
            [ConsultaPlus.Infrastructure]*
            [ConsultaPlus.Core]*
          </Include>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
